<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>中气协30周年庆投票活动</title>
    <meta charset="utf-8">
    <link rel="stylesheet" href="/styles/base.css">
    <link rel="stylesheet" href="/styles/index.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

</head>
<body>
<div class="page">
    <!--头部图片部分-->
    <header></header>
    <!--主题内容部分-->
    <div class="content">
        <!--导航-->
        <nav class="nav-container">
            <a class="nav-link-introduction" href="introduction">活动简介</a>
            <a class="nav-link" href="vote?typeNo=1">
                <div class="nav-title">优秀安全负责人评选</div>
                <div class="arrow"></div>
            </a>
            <a class="nav-link" href="vote?typeNo=2">
                <div class="nav-title">优秀安全员评选</div>
                <div class="arrow"></div>
            </a>
            <a class="nav-link" href="vote?typeNo=3">
                <div class="nav-title">优秀注册安全工程师评选</div>
                <div class="arrow"></div>
            </a>
            <a class="nav-link" href="vote?typeNo=4">
                <div class="nav-title">优秀技师评选</div>
                <div class="arrow"></div>
            </a>
            <a class="nav-link" href="vote?typeNo=5">
                <div class="nav-title">优秀分析员评选</div>
                <div class="arrow"></div>
            </a>
        </nav>
        <!--主题文章部分-->
        <article>
            <h4>投票说明</h4>
            <p>1、投票时间为2017年9月4日00:00-9月22日24:00，过期则无效；</p>
            <p>2、投票期间内每个微信号每天只允许投票一次，每个奖项可选择多人进行投票，每个微信号最多给同一个候选人投票3次；</p>
            <p>3、严禁使用各类投票软件进行违规投票，一旦发现将取消投票资格；</p>
            <p>4、微信投票结果将作为中国气体行业推荐评优活动的重要参考；</p>
            <p>5、最终奖项将在中国气体协会成立30周年的庆祝大会上公布结果、颁发获奖证书。</p>
        </article>
    </div>
    <!--底部-->
    <footer>
        <img src="/images/logo.png"/>
    </footer>
</div>
</body>
</html>