<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>活动简介</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../styles/base.css">
    <link rel="stylesheet" href="../styles/index.css">
</head>
<body>
<div class="page">
    <!--头部-->
    <header></header>
    <!--主体-->
    <div class="content">
        <article>
            <p style=" font-size: 1.5vh;margin-top: 3vh;">&nbsp;&nbsp;&nbsp;&nbsp;为进一步推动我国气体行业安全管理水平、质量管理水平的提升，
                并结合中国气体协会30周年的庆祝活动来表彰一批气体行业的优秀安全负责人、优秀安全员、优秀注册安全工程师、优秀技师、优秀分析员；
                经研究决定，在中国气体协会及分支机构的会员单位中开展优秀安全负责人、优秀安全员、优秀注册安全工程师、优秀技师、优秀分析员的推荐、评优活动，
                通过微信平台初评、评优领导小组总评，最终将在中国气体协会成立30周年的庆祝大会上公布结果、颁布获奖证书。
            </p>
        </article>
    </div>
    <!--尾部-->
    <footer>
        <img src="../images/logo.png"/>
    </footer>
</div>
</body>
</html>